.navigationListBox {
    position: relative;
    height: 100%;
}

.navigationListBox ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigationListBox ul li {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 1rem;
    position: relative;

}

.navigationListBox ul li.active .navListIcon svg path {
    fill: var(--secondary);
}

.navigationListBox ul li.active .navListName {
    color: var(--secondary);
}

.navigationListBox ul li.active::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 40px;
    left: 0;
    top: 0;
    background-color: var(--secondary);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navListIcon {
    width: 22%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.navListName {
    width: 78%;
    color: var(--dark);
    font-family: mediumfont;
    font-size: 16px;
}

.navUserProfile {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 2rem !important;
}

.navListUserProfile {
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-color: var(--dark);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navListUserName h4 {
    color: var(--dark);
    font-family: mediumfont;
    font-size: 16px;
    margin: 0;
}

.navListUserName p {
    font-size: 12px;
    margin: 0;
    opacity: 0.7;
}

.copyright {
    padding: 2rem 2rem 0rem 2.5rem;
    color: var(--bg-dark);
    opacity: 0.6;
    position: absolute;
    bottom: 2rem;
    font-size: 14px;
}

.copyright a {
    color: var(--bg-dark);
}